{% extends "scribedown/layout.html" %}

{% block title %}
    Elements of {{ worldname }}
{% endblock %}

{% block body %}
    <h1>Elements of {{ worldname }}</h1>
    <p>Here you can manage the elements of your world, such as characters, locations, items, and more.</p>
    <a href="{% url 'new_element' worldname=world.name %}" class="btn btn-primary">Add New Element</a>

    <a href="{% url 'characters' worldname=world.name %}" class="btn btn-secondary">Characters</a>
    <a href="{% url 'locations' worldname=world.name %}" class="btn btn-secondary">Locations</a>
    <a href="{% url 'events' worldname=world.name %}" class="btn btn-secondary">Events</a>
    <a href="{% url 'items' worldname=world.name %}" class="btn btn-secondary">Items</a>
    
    <a href="{% url 'edit_world' worldname=world.name %}" class="btn btn-primary">Edit World</a> |
    <a href="{% url 'delete_world' worldname=world.name %}" class="btn btn-danger">Delete World</a>

{% endblock %}