{% extends "scribedown/layout.html" %}

{% block title %}
    Elements
{% endblock %}

{% block body %}
    <h1>Worlds</h1>
    <p>Worlds in the database.</p>
    {% for world in worlds %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ world.name }}</h5>
                <p class="card-text">{{ world.description }}</p>
                <a href="{% url 'elements_world' world_id=world.id %}" class="btn btn-secondary">Enter World</a>
            </div>
        </div>
    {% empty %}
        No worlds found.
    {% endfor %}
    <a href="{% url 'new_world' %}" class="btn btn-primary">Create New World</a>
    <div class="mt-4">
        <a href="{% url 'index' %}" class="btn btn-secondary">Back to Home</a>
    </div>
{% endblock %}