{% extends "scribedown/layout.html" %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>
    <p>Description: {{ event.description }}</p>
    <p>Date: {{ event.date }}</p>
    <p>Location: {{ event.location.name }}</p>
    <h2>Characters Involved</h2>
    <ul>
        {% for character in event.characters.all %}
            <li><a href="{% url 'character_detail' world_id=world.id character_id=character.id %}">{{ character.name }}</a></li>
        {% empty %}
            <li>No characters found.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'delete_element' world_id=world.id element_type='event' element_id=event.id %}" class="btn btn-danger">Delete Event</a></p>
    <div class="mt-4">
        <a href="{% url 'edit_element' world_id=world.id element_type='event' element_id=event.id %}" class="btn btn-primary">Edit Event</a>
    </div>
    <div class="mt-4">
        <a href="{% url 'events' world_id=world.id %}" class="btn btn-secondary">Back to Events</a>
    </div>
{% endblock %}