{% extends "scribedown/layout.html" %}

{% block title %}
    {{ location.name }}
{% endblock %}

{% block body %}
    <h1>{{ location.name }}</h1>
    <p>Description: {{ location.description }}</p>
    <p>Founder: {{ location.founder }}</p>
    <p>Founding Date: {{ location.founding_date }}</p>
    <p>Decline Date: {{ location.decline_date if location.decline_date else "N/A" }}</p>
    <h2>Characters Born Here</h2>
    <ul>
        {% for character in location.birthplace_characters.all %}
            <li><a href="{% url 'character_detail' world_id=world.id character_id=character.id %}">{{ character.name }}</a></li>
        {% empty %}
            <li>No characters found.</li>
        {% endfor %}
    </ul>
    <h2>Characters Who Died Here</h2>
    <ul>
        {% for character in location.deathplace_characters.all %}
            <li><a href="{% url 'character_detail' world_id=world.id character_id=character.id %}">{{ character.name }}</a></li>
        {% empty %}
            <li>No characters found.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'delete_element' world_id=world.id element_type='location' element_id=location.id %}" class="btn btn-danger">Delete Location</a></p>
    <div class="mt-4">
        <a href="{% url 'edit_element' world_id=world.id element_type='location' element_id=location.id %}" class="btn btn-primary">Edit Location</a>
    </div>
    <div class="mt-4">
        <a href="{% url 'locations' world_id=world.id %}" class="btn btn-secondary">Back to Locations</a>
    </div>
{% endblock %}