{% extends "scribedown/layout.html" %}

{% block title %}
    New Element
{% endblock %}

{% block body %}
    <h1>Create a New Element</h1>
    <p>Use the form below to create a new element in the world.</p>
    <form method="post">
        {% csrf_token %}
        <label for="element-type">Element Type</label>
        <select class="form-select" style="background-color: #89ceff;" id="element-type" name="element_type">
            <option selected>Open this select menu</option>
            <option value="character">Character</option>
            <option value="location">Location</option>
            <option value="event">Event</option>
            <option value="object">Object</option>
            <option value="race">Race</option>
            <option value="faction">Faction</option>
            <option value="group">Group</option>
        </select>
        <input class="form-control" type="text" name="name" placeholder="Name" aria-label="default input example">
        <textarea class="form-control" name="description" placeholder="Description"></textarea>
        <div id="character-fields">
            <h3>Character Fields</h3>
            <input class="form-control" type="text" name="family_name" id="family_name" placeholder="Family Name">
            <input class="form-control" type="text" name="age" id="age" placeholder="Age">
            <select class="form-select" style="background-color: #89ceff;" id="race" name="race">
                <option value="" selected>No race selected</option>
                {% for race in races %}
                    <option value="{{ race }}">{{ race }}</option>
                {% endfor %}
            </select>
            <select class="form-select" style="background-color: #89ceff;" id="birthplace" name="birthplace">
                <option value="" selected>No birthplace selected</option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
            <select class="form-select" style="background-color: #89ceff;" id="deathplace" name="deathplace">
                <option value="" selected>No deathplace selected</option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="location-fields" style="display:none;">
            <h3>Location Fields</h3>
            <input class="form-control" type="text" name="founder" id="founder" placeholder="Founder">
            <input class="form-control" type="text" name="founding_date" id="founding_date" placeholder="Founding Date">
            <input class="form-control" type="text" name="decline_date" id="decline_date" placeholder="Decline Date">
            <select class="form-select" style="background-color: #89ceff;" id="characters" name="characters" multiple>
                <option value="" selected>No characters selected</option>
                {% for character in characters %}
                    <option value="{{ character.id }}">{{ character.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="event-fields" style="display:none;">
            <h3>Event Fields</h3>
            <input class="form-control" type="text" name="date" id="date" placeholder="Date">
            <select class="form-select" style="background-color: #89ceff;" id="characters" name="characters" multiple>
                <option value="" selected>No characters selected</option>
                {% for character in characters %}
                    <option value="{{ character.id }}">{{ character.name }}</option>
                {% endfor %}
            <select class="form-select" style="background-color: #89ceff;" id="location" name="location">
                <option value="" selected>No location selected</option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="object-fields" style="display:none;">
            <h3>Object Fields</h3>
            <select class="form-select" style="background-color: #89ceff;" id="locations" name="locations" multiple>
                <option value="" selected>No locations selected</option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
            <select class="form-select" style="background-color: #89ceff;" id="characters" name="characters" multiple>
                <option value="" selected>No owners selected</option>
                {% for character in characters %}
                    <option value="{{ character.id }}">{{ character.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="race-fields" style="display:none;">
            <h3>Race Fields</h3>
        </div>
        <div id="faction-fields" style="display:none;">
            <h3>Faction Fields</h3>
            <select class="form-select" style="background-color: #89ceff;" id="characters" name="characters" multiple>
                <option value="" selected>No members selected</option>
                {% for character in characters %}
                    <option value="{{ character.id }}">{{ character.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="group-fields" style="display:none;">
            <h3>Group Fields</h3>
            <select class="form-select" style="background-color: #89ceff;" id="characters" name="characters" multiple>
                <option value="" selected>No members selected</option>
                {% for character in characters %}
                    <option value="{{ character.id }}">{{ character.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Element</button>
        <a href="{% url 'elements_world' world_id=world.id %}" class="btn btn-secondary">Cancel</a>
    </form>
    <script>

    const selector = document.getElementById("element-type");

    const characterFields = document.getElementById("character-fields");
    const locationFields = document.getElementById("location-fields");
    const eventFields = document.getElementById("event-fields");
    const objectFields = document.getElementById("object-fields");
    const factionFields = document.getElementById("faction-fields");
    const groupFields = document.getElementById("group-fields");

    function updateFields() {

        characterFields.style.display = "none";
        locationFields.style.display = "none";
        eventFields.style.display = "none";
        objectFields.style.display = "none";
        factionFields.style.display = "none";
        groupFields.style.display = "none";


        if (selector.value === "character") {
            characterFields.style.display = "block";
        } else if (selector.value === "location") {
            locationFields.style.display = "block";
        } else if (selector.value === "event") {
            eventFields.style.display = "block";
        } else if (selector.value === "object") {
            objectFields.style.display = "block";
        } else if (selector.value === "faction") {
            factionFields.style.display = "block";
        } else if (selector.value === "group") {
            groupFields.style.display = "block";
        }
    }
    selector.addEventListener("change", updateFields);
    </script>
{% endblock %}