{% extends "scribedown/layout.html" %}

{% block title %}
    Objects
{% endblock %}

{% block body %}
    <h1>Objects in {{ world.name }}</h1>
    <ul>
        {% for object in objects %}
            <li><a href="{% url 'object_detail' world_id=world.id object_id=object.id %}">{{ object.name }}</a></li>
        {% empty %}
            <li>No objects found.</li>
        {% endfor %}
    </ul>
    <div class="mt-4">
        <a href="{% url 'elements_world' world_id=world.id %}" class="btn btn-secondary">Back to World</a>
    </div>
{% endblock %}