{% extends "scribedown/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>Create Account</h1>

<form method="post">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username">

    <input type="email" name="email" placeholder="Email">

    <input type="password" name="password" placeholder="Password">

    <input type="password" name="confirmation" placeholder="Confirm Password">

    <button type="submit" class="btn btn-primary">Create Account</button>
    <a href="{% url 'login' %}" class="btn btn-secondary">Cancel</a>
</form>

{{ message }}
{% endblock %}