{% extends "scribedown/layout.html" %}

{% block title %}
    Wiki Page - {{ page.title }}
{% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>
    <p>Last edited on {{ page.last_edited|date:"F j, Y, g:i a" }}</p>
    <div class="wiki-content">
        {{ page.content|linebreaks }}
    </div>
    <a href="{% url 'edit_page' wiki.title page.title %} " class="btn btn-primary">Edit this page</a>
    <a href="{% url 'delete_page' wiki.title page.title %}" class="btn btn-danger">Delete this page</a>
    <div class="mt-4">
        <a href="{% url 'wiki_index' wiki.title %}" class="btn btn-secondary">Back to Wiki Index</a>
    </div>

{% endblock %}