{% extends "scribedown/layout.html" %}

{% block title %}
    Scribedown Wikis
{% endblock %}

{% block body %}
    <h1>Scribedown Wikis</h1>
    <p> Happy writing!</p>
    {% if wikis %}
        {% for wiki in wikis %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ wiki.title }}</h5>
                    <p class="card-text">{{ wiki.description }}</p>
                    <a href="{% url 'wiki_index' wiki.title %}" class="btn btn-secondary">View Wiki</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No wikis have been created yet. Be the first to create one!</p>
    {% endif %}
    <a href="{% url 'new_wiki' %}" class="btn btn-primary">Create new wiki</a>
    <div class="mt-4">
        <a href="{% url 'index' %}" class="btn btn-secondary">Back to Home</a>
    </div>
{% endblock %}